@import url('https://fonts.googleapis.com/css?family=Jua');
        body {
            background-color: rgb(246, 222, 0);
            font-family: 'Jua', sans-serif;
            overflow: hidden;
        }
        .wrapper {
            position: relative;
            width: 400px;
            height: 100vh;
            margin: 0 auto;
        }
        .header {
            text-align: center;
            color: rgb(133, 95, 7);
            transform: rotate(-20deg);
            font-size: 2.5rem;
            padding-top: 60px;
        }
        .header span {
            font-size: 1rem;
            color: rgb(197, 138, 0);
        }
        #ryan {
            width: 50px;
            height: 50px;

            position: absolute;
            left:20%;
            top: 50%;
            margin-left: -25px;
            margin-top: -25px;

            background-image: url('../img/dog.gif');
            background-size: cover;
        }

        .btn { 
            width: 100px;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            cursor: pointer;

            position: absolute;
            bottom: 0;
            
            color: gray;
            font-weight: 800;
            line-height: 100px;
            text-align: center;
            
            margin: 20px;
        }
        #rolling_btn {
            left: 0;
        }
        #jump_btn {
            right: 0;
        }
        
        #map .obstacle {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            right: 20px;
            margin-top: -25px;
            background-image: url('./neo.gif');
            background-size: cover;
        }

        #score {
            position: absolute;
            color: rgba(255, 255, 255, 0.5);
            bottom: 150px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2.5rem;
        }